@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100dvw;
  height: 100dvh;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
}

header.bg-dark {
  background-image: url("../../public/images/bg-desktop-dark.jpg");
}

header.bg-light {
  background-image: url("../../public/images/bg-desktop-light.jpg");
}

.bg-linear {
  background-image: linear-gradient(45deg, blue, violet);
}
