@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
}

header.bg-dark {
  background-image: url("../../public/images/bg-desktop-dark.jpg");
}

header.bg-light {
  background-image: url("../../public/images/bg-desktop-light.jpg");
}